# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[**.{h,cc,mm,m}]
indent_style = space
indent_size = 2

[*.{md,markdown}]
trim_trailing_whitespace = false

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab