language: objective-c
before_install:
  - brew update
  - brew reinstall xctool
  - gem update cocoapods
  - gem install slather
  - xcrun simctl list
install: echo "<3"
env:
  - MODE=tests
  - MODE=examples
  - MODE=life-without-cocoapods
script: ./build.sh $MODE
after_success:
  - ./after_success.sh

# whitelist
branches:
  only:
    - master
