<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset='utf-8'>
    <title>AsyncDisplayKit | {{ page.title }}</title>
    <link rel='stylesheet' href='/static/main.css' type='text/css'/>
    <link rel="stylesheet" href='/static/pygments.css' type='text/css'/>
    <link rel='shortcut icon' href='/static/favicon.png'>
    <meta name='viewport' content='width=480'>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="AsyncDisplayKit">
    <meta property='og:description' content='AsyncDisplayKit'>
    <meta property='og:image' content='http://asyncdisplaykit.org/static/asyncdisplaykit-og-image.png'>
    <meta property='og:url' content="http://asyncdisplaykit.org{{ page.url }}">
    <meta property='og:type' content='website'>
    <script type="text/javascript" src="//use.typekit.net/vqa1hcx.js"></script>
    <script type="text/javascript">{'try{Typekit.load();}catch(e){}'}</script>
    <script src="/static/toggle.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>

<header class='topbar site-header'><nav class='width'>
<a class="site-title" href="/">AsyncDisplayKit</a>
    <ul>
      <li><a href="/docs/getting-started.html" {% if (page.layout == 'docs') %} class="active" {% endif %}>docs</a></li>
      <li><a href="/appledocs.html" {% if (page.layout == 'appledocs') %} class="active" {% endif %}>api</a></li>
      <li><a href="http://github.com/facebook/AsyncDisplayKit">github</a>
    </ul>
</nav></header>
