---
sectionid: docs
---

{% include header.html %}

<section class='content'><div class='width'>

{% include nav_docs.html %}

<article class='withtoc'>
    <h1>
      {{ page.title }}
      <a class="edit-page-link" href="https://github.com/facebook/asyncdisplaykit/tree/gh-pages/{{ page.relative_path }}" target="_blank">Edit on GitHub</a>
    </h1>
    <p>{{ page.description }}</p>

    {{ content }}

    <div class="docs-prevnext">
      {% if page.prevPage %}
        <a href="/docs/{{ page.prevPage }}">&larr; Prev</a>
      {% endif %}
      {% if page.nextPage %}
        <a class="right" href="/docs/{{ page.nextPage }}">Next &rarr;</a>
      {% endif %}
    </div>

    <a id="_"></a>
</article>

</div></section>
{% include footer.html %}
